[Unit]
Description=Dummy Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
# Replace the /home/user/Trash directory by the directory
# In which you've placed trash_project directory
ExecStart=/usr/bin/python3 /home/user/Trash/trash_project/master_program.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
